* {
  box-sizing: border-box;
}

html {
  --primary-color: #fa5d0f;
  --secondary-color: #ffce27;
  --tertiary-color: #d13405;
  --tertiary-color-dark: #7d1f03;
  --code-header-color: #a8a8a8;
  --code-background-color: #f8f8f8;
  --grey: #eee;
  --dark-grey: #444;
  --app-section-even-color: #fff;
  --app-section-odd-color: var(--grey);
  --border-radius: 5px;
  --content-width: 800px;
  --text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  --text-color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  line-height: 2rem;
  color: var(--text-color);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  line-height: 1;
  font-weight: 500;
  color: var(--tertiary-color);
  text-shadow: var(--text-shadow);
}

h2 {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 400;
  color: var(--primary-color);
  text-shadow: var(--text-shadow);
}

h3 {
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--tertiary-color);
  text-shadow: var(--text-shadow);
}

h4 {
  /* Careful. This is meant to be used as code block headers */
  color: var(--code-header-color);
  margin-bottom: 0;
  background-color: var(--code-background-color);
  padding: 0.5em;
  border-bottom: 1px solid var(--code-header-color);
  font-weight: 300;
}

h4::after {
  display: block;
  content: "Copy";
  float: right;
  font-size: 1rem;
  cursor: pointer;
}

h4.copied::after {
  content: "Copied!";
}

h4:after:hover {
  color: red;
}

h5 {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 300;
  color: var(--tertiary-color);
  text-shadow: var(--text-shadow);
  margin: 1.5em 0 0 0;
}

h6 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--dark-grey);
  text-shadow: var(--text-shadow);
  margin: 1em 0 0 0;
}

p {
  font-size: 1rem;
}

a {
  color: var(--tertiary-color);
}

footer a {
  color: var(--text-color);
}

main p {
  text-align: justify;
}

section {
  padding: 1rem;
  background: var(--app-section-even-color);
}

section:nth-of-type(even) {
  background: var(--app-section-odd-color);
}

section > *, footer > *, header > *, nav > * {
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
}

p code, ul code, li code {
  padding: 3px;
  color: #333;
  background-color: var(--code-background-color);
  border-radius: 5px;
}

pre {
  margin-top: 0;
}

header {
  color: var(--tertiary-color-dark);
  text-align: center;
  padding: 1rem;
  border-top: 3px solid var(--primary-color);
  background-color: var(--secondary-color);
}

footer {
  padding: 1rem;
  background: var(--secondary-color);
  text-align: center;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

footer ul li {
  list-style-type: none;
  padding-right: 10px;
}

footer ul li:last-of-type {
  padding-right: 0px;
}

footer ul li a {
  padding: 5px;
}

nav {
  background: var(--secondary-color);
}

nav > div {
  display: flex;
  width: 100%;
}

nav a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--tertiary-color-dark);
}

nav a:hover {
  border-bottom: 3px dashed var(--primary-color);
}

nav a.active {
  border-bottom: 3px solid var(--primary-color);
}

img {
  max-width: 100%;
}

ul.breadcrumb {
  padding: 0;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  content: "/\00a0";
}

.more-posts {
  text-align: center;
}

.jsdocs table {
  width: 100%;
}

.jsdocs th {
  text-align: left;
}

.jsdocs tr td {
  padding: 5px 1rem 5px 0;
  vertical-align: top;
}

.back-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 500px;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 5px var(--tertiary-color-dark);
  cursor: pointer;
  transition: all 200ms;
}

.back-to-top:hover {
  background: var(--tertiary-color-dark);
  text-shadow: 2px 2px 5px var(--secondary-color);
}

@media (max-width: 600px) {
  footer {
    padding-bottom: 10px;
  }

  footer ul {
    flex-direction: column;
  }
}