* {
  box-sizing: border-box;
}

html {
  --primary-color: #fa5d0f;
  --secondary-color: #ffce27;
  --tertiary-color: #d13405;
  --grey: #eee;
  --app-section-even-color: #fff;
  --app-section-odd-color: var(--grey);
  --border-radius: 5px;
  --content-width: 600px;

  font-size: 18px;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--tertiary-color);
  font-size: 4rem;
}

h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
}

h3 {
  color: var(--tertiary-color);
  font-size: 1.75rem;
}

p {
  text-align: justify;
  font-size: 1rem;
}

p code {
  padding: 0.3rem;
  color: #333;
  background: #f8f8f8;
}

section {
  padding: 1rem;
  background: var(--app-section-even-color);
}

section:nth-of-type(even) {
  background: var(--app-section-odd-color);
}

section > *, footer > *, header > *, nav > * {
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
}

header {
  padding: 1rem;
  border-top: 3px solid var(--primary-color);
  background-color: var(--secondary-color);
}

footer {
  padding: 3rem 1rem;
  background: var(--secondary-color);
}

nav {
  background: var(--secondary-color);
}

nav > div {
  display: flex;
  width: 100%;
}

nav a {
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--tertiary-color);
}

nav a:hover {
  color: var(--primary-color);
  border-bottom: 3px dashed var(--primary-color);
}

nav a.active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

img {
  max-width: 100%;
}
